body {
	background-color: green;
	color: white;
	overflow: hidden;
}

.tv-container {
	margin: 4%;
	color: white;
}

#team-1-score, .tv-container #team-2-score {
	font-size: 60px;
	line-height: 60px;
}

.box {
	background: #00B4C8;
	padding: 30px;
	margin-bottom: 50px;
}

.table-wrapper .table {
	margin: 0;
}

.tv-container .table th, .tv-container .table td {
	text-align: center;
}

.table th {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 40px;
}

.tv-container .table td {
	font-size: 30px;
	line-height: 30px;
}

.table .name {
	font-size: 30px;
	line-height: 30px;
	width: 400px;
	text-align: left;
}

.table > thead > tr > th {
  border-bottom: 1px solid black;
}

.table > tbody > tr > td {
  border-bottom: 1px solid black;
}

.table > tbody > tr:last-child > td {
  border-bottom: 0;
}

.right {
	float: right;
	display: inline-block;
}

.left {
	float: left;
	display: inline-block;
}
