body {
	background-color: black;
}

#team-1-score, #team-2-score {
	font-size: 40px;
}

.table-wrapper {
	background: black;
	padding: 10px;
}

.table-wrapper .table {
	margin: 0;
}

.tv-container .table th, .tv-container .table td {
	text-align: center;
}

.table th {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 20px;
}

.tv-container .table td {
	font-size: 18px;
	line-height: 18px;
}

.table .name {
	font-size: 18px;
	line-height: 18px;
	width: 400px;
	text-align: left;
}

.t > thead > tr > th {
  border-bottom: 2px solid rgba(255, 207, 48, 1);
}

.t > tbody > tr > td {
  border-bottom: 1px solid rgba(255, 207, 48, 1);
}


.ct > thead > tr > th {
  border-bottom: 2px solid rgba(87, 155, 226, 1);
}

.ct > tbody > tr > td {
  border-bottom: 1px solid rgba(87, 155, 226, 1);
}

.right {
	float: right;
	display: inline-block;
}

.left {
	float: left;
	display: inline-block;
}

.t {
	color: rgba(255, 207, 48, 1);
}

.ct {
	color: rgba(87, 155, 226, 1);
}

a, a:focus, a:visited {
	color: inherit;
	text-decoration: none;
}