<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
  <link href="../../css/tv.css" rel="stylesheet">
  <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body class="player">
  <div class="tv-container">
    <div class="box">
      <div class="title">Turnaustilastot: <span id="nick"></span></div>
      <table id="player" class="table">
        <thead>
          <tr>
            <th><a onclick="show('show', true);">Frägit</a></th>
            <th><a onclick="show('show', false);">Avustukset</a></th>
            <th>Kuolemat</th>
            <th>F/K</th>
            <th>Pääosuma %</th>
          </tr>
        </thead>
        <tbody class="player">
        </tbody>
      </table>
      <div id="hidden">
      <table id="mvpStats" class="table">
        <thead>
          <tr>
            <th>1V1</th>
            <th>2K</th>
            <th>3K</th>
            <th>4K</th>
            <th>TOTAL</th>
          </tr>
        </thead>
        <tbody class="player">
        </tbody>
      </table>
      </div>
    </div>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.4/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.9.3/lodash.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/async/1.5.2/async.js"></script>
  <script src="../../js/cs.js"></script>
  
  <script type="text/javascript">

  function update() {
    if(cs.params().show == 'true')
    {
      document.getElementById("hidden").style.display= "normal";
    }
    else{
      document.getElementById("hidden").style.display= "none";
    }
    var MVPType
    var MVPCount = 0
    var matchIds
    var MVPIndex
    var oneOnOne = 0
    var twoKill = 0
    var threeKill = 0
    var fourKill = 0
      cs.getPlayer(cs.params().steamid, cs.params().season, function(err, player) {

        cs.getSeasons(function(err, season_data){

          var season_info =  _.find(season_data, function(season) 
            {
               if(season.id == cs.params().season)
                {
                  return season
                }
            })
          matchIds = _.map(season_info.matchs, function(matchIds)
          {
            return matchIds.id

          })


            var gamesData = []
            async.each(matchIds, function(game_id, callback) 
            {
             cs.getGame(game_id, function(err, data)
              {
                gamesData.push(data)
                callback(err, data)
              })
            },
            function(err)
            {
              
              _.forEach(gamesData, function(games)
              {

               
                MVPIndex = _.map(games.round_summary, function(gamesData)
                {
                  var playerName = gamesData.best_action_param
                  playerName = playerName.split('"');
                  playerName = playerName[ playerName.length - 2 ]
                   gamesData = playerName
                  if(!_.isUndefined(gamesData))
                  {
                   return gamesData
                  }
                })

                MVPType = _.map(games.round_summary, function(gamesData)
                {
                  var MVPType = gamesData.best_action_type
                  if(!_.isUndefined(MVPType))
                  {
                    return MVPType
                  }
                })
                var index = 0
               _.forEach(MVPIndex, function(allMvp)
              {
                //console.log(index)
                if( allMvp == player.nick )
                {
                   MVPCount = MVPCount + 1
                  if( MVPType[index] == "1v1"){
                    oneOnOne = oneOnOne + 1
                   }
                  if( MVPType[index] == "2kill"){
                    twoKill = twoKill + 1
                   }
                  if( MVPType[index] == "3kill"){
                    threeKill = threeKill + 1
                  }
                  if( MVPType[index] == "4kill"){
                    fourKill = fourKill + 1
                  }
                }
                index = index + 1
              })
               index = 0
              })
              player.oneOnOne = oneOnOne
              player.twoKill = twoKill
              player.threeKill = threeKill
              player.fourKill = fourKill
              player.MVPCount = MVPCount 
              var playerTemplate = '<tr><td><%= nb_kill %></td><td><%= assist %></td><td><%= death %></td><td><%= cs.getRating(nb_kill, death) %></td><td><%= cs.getPercentage(hs, nb_kill) %></td></tr>';
              cs.render('#player tbody', playerTemplate, player);
              $('#nick').html(player.nick);
              if(cs.params().show == 'true')
              {
                document.getElementById("hidden").style.display= "normal";
                cs.render('#mvpStats tbody', '<tr><td><%= oneOnOne %></td><td><%= twoKill %></td><td><%= threeKill %></td><td><%= fourKill %></td><td><%= MVPCount %></td></tr>', player)
              }
              else{
                document.getElementById("hidden").style.display= "none";
              }
              player.MVPCount = 0;
            })
      
         })

      })
  } 
  update();
  window.setInterval(update, 15 * 1000);

function show(key, value)
{
    key = encodeURI(key); value = encodeURI(value);

    var kvp = document.location.search.substr(1).split('&');

    var i=kvp.length; var x; while(i--) 
    {
        x = kvp[i].split('=');

        if (x[0]==key)
        {
            x[1] = value;
            kvp[i] = x.join('=');
            break;
        }
    }

    if(i<0) {kvp[kvp.length] = [key,value].join('=');}

    //this will reload the page, it's likely better to store this until finished
    document.location.search = kvp.join('&'); 
}
  </script>

</body>
</html>
